<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo!</title>
  </head>
  <body>
    <p>TODO!</p>
    <form class="" action="/addTodo" method="post">
      <input type="text" name="description" value="" placeholder="Add a todo">
      <button type="submit">Add todo</button>
    </form>
    <ul>
      {{#uncompleted}}
        <li>
          <form class="" action="/markComplete" method="post">
            <button type="submit" name="id" value="{{id}}">Mark Complete</button>
            <a href="/todo/{{id}}">{{description}}</a>
          </form>
        </li>
        <!-- Inside of here we are in a loop, called once for each
        element of the todoListForTheBrowser array -->
      {{/uncompleted}}
    </ul>
    <h1>Completed Tasks</h1>
    <ul>
      {{#completed}}
        <li>
          <a href="/todo/{{id}}">{{description}} @ {{when_completed}}</a>
        </li>
      {{/completed}}
    </ul>
  </body>
</html>









