<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo!</title>
  </head>
  <body>
    <p>TODO!</p>
    <form class="" action="" method="post">
      <input type="text" name="description" value="" placeholder="Add a todo">
      <button type="submit">Add todo</button>
    </form>
    <ul>
      {{#todoListForTheBrowser}}
        <li>
          <button type="button">Mark Complete</button>
          {{.}}
        </li>
        <!-- Inside of here we are in a loop, called once for each
        element of the todoListForTheBrowser array -->
      {{/todoListForTheBrowser}}
    </ul>
    <h1>Completed Tasks</h1>
    <ul>
      {{#completedListForTheBrowser}}
        <li>{{.}}</li>
      {{/completedListForTheBrowser}}
    </ul>  
  </body>
</html>









