<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
     <p>
       <a href="/">Home</a>
     </p>
     <ul>
       <li>{{id}}</li>
       <li>{{description}}</li>
       <li>{{completed}}</li>
       <li>{{when_completed}}</li>
     </ul>
  </body>
</html>
